.about {
  padding-bottom: 2rem;

  &-image {
    height: 50vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)),
      url('images/apple.jpg') center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    p{
        margin-block-end: 2rem;
    }
  }
  
  &-apple{
    width: 80%;
    text-align: center;

    .text-secondary{
        padding-bottom: 1rem;
    }
  }

  .types{
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:2rem;

    &-type{
        background: darken($primary-color, 3%);
        padding: 0.5rem;
        border-bottom: 5px solid $contrast-color;
    }
  }
}


