.recipes {
  padding-bottom: 2rem;

  &-image {
    height: 30vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)),
      url('images/apple.jpg') center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .text-secondary {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }

  &-items {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }

  &-item{
    position: relative;
    border-bottom: 5px solid $contrast-color;
    overflow: hidden;
    cursor: pointer;
    
    img{
        width: 100%;
    }
  }


  footer {
    transform: rotate(90deg) translate(-3rem, -5rem);
  }
}
