.resources {
  height: 100%;
  padding-top: 25vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.3)),
    url('images/apple.jpg') center top;
  background-size: cover;

  h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  &-list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    font-size: 1.5rem;

    a {
      text-decoration: underline;
    }
  }
}
