@import 'reset';
@import 'variable';

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}
$font-weights: (
  'regular': 400,
  'medium': 500,
  'bold': 700,
);

@mixin flex-center($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin theme($light-theme: true) {
  @if $light-theme {
    background: lighten($primary-color, 100%);
    color: darken($text-color, 100%);
  }
}

@mixin mobile{
    @media (max-width: $mobile){
        @content;
    }
}
body {
  background-color: $primary-color;
  color: $text-color;
}

.main {
  @include flex-center(column);
  width: 80%;
  margin: 0 auto;
  #{&}-paragraph {
    font-weight: weight(regular);

    &:hover {
      color: green;
    }
  }

  @include mobile{
    flex-direction: row;
  }
}

.light {
  @include theme($light-theme: false);
}


