@import 'config';
@import 'home';
@import 'menu';
@import 'about';
@import 'recipes';
@import 'resources';
@import 'responsive';
@import 'feature';

body {
  background: $contrast-color;
  color: set-text-color($text-color);
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  line-height: 1;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  color: set-text-color($text-color);
  text-decoration: none;
}

.text-secondary {
  color: $secondary-color;
}

.title {
  color: $contrast-color;
}
header {
  position: fixed;
  z-index: 2;
  width: 100%;
  padding: 1rem;
}

main {
  height: 100%;
  width: 100%;
}

footer {
  font-size: 1rem;
  position: fixed;
  bottom: 0.4rem;
  right: 1rem;
  text-align: center;
  padding: 1rem;
  color: set-text-color($text-color);
}
