@import 'reset';
@import 'variable';

@function weight($weight-name){
    @return map-get($font-weights, $weight-name );
}
$font-weights: (
  'regular': 400,
  'medium': 500,
  'bold': 700,
);

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
  background-color: $primary-color;
  color: $text-color;
}

.main {
    @include flex-center;
  width: 80%;
  margin: 0 auto;
  #{&}-paragraph {
    font-weight: weight(regular);

    &:hover {
      color: green;
    }
  }
}
