@import 'config';
@import 'home';

body{
    background:$primary-color;
    color:#fff;
    height:100vh;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
}

h1, h2, h3{
    font-weight: 400;
}

a{
    color: #fff;
    text-decoration: none;
}

header{
    position: fixed;
    z-index: 2;
    width: 100%;
    padding:1rem;

    .nav{
        .menu-nav{
            display: flex;
        }
    }
}

main{
    height: 100%;
    width: 100%;
}

footer{
    font-size: 1rem;
    position: fixed;
    bottom: 0.4rem;
    right: 1rem;
    text-align: center;
    padding:1rem;
    color:#fff;
}