@import 'reset';
@import 'variable';

$font-weights: (
  'regular': 400,
  'medium': 500,
  'bold': 700,
);

body {
  background-color: $primary-color;
  color: $text-color;
}

.main {
  width: 80%;
  margin: 0 auto;
  #{&}-paragraph {
    font-weight: map-get($font-weights, bold);

    &:hover {
      color: green;
    }
  }
}
